<form>
    <header class="yzsrd dialog-header">
        <h1>Dice Roll</h1>
    </header>

    <div class="flex-row">
        <table>
            <tr>
                <td><b>Stat</b></td><td><b>Skill</b></td><td><b>Gear</b></td><td><b>Artifact</b></td>
            </tr>
            <tr>
                <td>
                    <select id="statDice" name="statDice">
                        <option value="None">None</option>
                        <option value="1d6" selected>D6</option>
                        <option value="1d8">D8</option>
                        <option value="1d10">D10</option>
                        <option value="1d12">D12</option>
                    </select>
                </td>
                <td>
                    <select id="skillDice" name="skillDice">
                        <option value="None">None</option>
                        <option value="1d6" selected>D6</option>
                        <option value="1d8">D8</option>
                        <option value="1d10">D10</option>
                        <option value="1d12">D12</option>
                    </select>
                </td>
                <td>
                    <select id="gearDice" name="gearDice">
                        <option value="None">None</option>
                        <option value="1d6" selected>D6</option>
                        <option value="1d8">D8</option>
                        <option value="1d10">D10</option>
                        <option value="1d12">D12</option>
                    </select>
                </td>
                <td>
                    <select id="gearDice" name="gearDice">
                        <option value="None">None</option>
                        <option value="1d6" selected>D6</option>
                        <option value="1d8">D8</option>
                        <option value="1d10">D10</option>
                        <option value="1d12">D12</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</form>