<form>
<form>
    <header class="yzsrd dialog-header">
        <h1>D6 Dice Pool Roll</h1>
    </header>

    <div class="flex-row">
        <table>
            <tr>
                <td><b>Stat</b></td><td><b>Skill</b></td><td><b>Gear</b></td><td><b>Artifact</b></td>
            </tr>
            <tr>
                <td>
                    <select id="statDice" name="statDice">
                        <option value="0">None</option>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </td>
                <td>
                    <select id="skillDice" name="skillDice">
                        <option value="0">None</option>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </td>
                <td>
                    <select id="gearDice" name="gearDice">
                        <option value="0" selected>None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </td>
                <td>
                    <select id="artifactDice" name="artifactDice">
                        <option value="0" selected>None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</form>
</form>