<form class="yzsrd roll-dialog">
 <header class="roll-header taskroll-info">
        <h1>Push Results | 
    </a><a data-roll-id='{{roll}}' id="pushRoll" title="Push This Roll Again"><img src = "modules/yzsrd-roller/assets/icons/push.svg" style="margin-top:auto; margin-bottom:auto; border:0" height="36" width="36"/></a></h1>
</header>
<div class="taskroll-msg">
    <div class="flexrow">
        <div class="flexcol" style="font-size:1.15em; flex-grow:2">
            <div style="text-align:center;">
                <span>{{imgs}}</span>
            </div>
        </div>
    </div>
    <div class="flexrow" style="font-size:1.15em; font-weight:bold">
        <p style="text-align:center"> {{successes}} Success{{#if (gt successes 1)}}es{{/if}}{{#if (eq successes 0)}}es{{/if}} | {{banes}} Bane{{#if (gt banes 1)}}s{{/if}}{{#if (eq banes 0)}}s{{/if}}</p>

    </div>
</div>
</form>