<form>
<form>
    <header class="yzsrd dialog-header">
        <h1>Dice Roll</h1>
    </header>

    <div class="flex-row">
        <table>
            <tr>
                <td><b>Stat</b></td><td><b>Skill</b></td><td><b>Gear</b></td><td><b>Talent</b></td>
            </tr>
            <tr>
                <td>
                    <select id="statDice" name="statDice">
                        <option value="0">None</option>
                        <option value="1" selected>D6</option>
                        <option value="2">D8</option>
                        <option value="3">D10</option>
                        <option value="4">D12</option>
                    </select>
                </td>
                <td>
                    <select id="skillDice" name="skillDice">
                        <option value="0">None</option>
                        <option value="1" selected>D6</option>
                        <option value="2">D8</option>
                        <option value="3">D10</option>
                        <option value="4">D12</option>
                    </select>
                </td>
                <td>
                    <select id="gearDice" name="gearDice">
                        <option value="0" selected>None</option>
                        <option value="1">D6</option>
                        <option value="2">D8</option>
                        <option value="3">D10</option>
                        <option value="4">D12</option>
                    </select>
                </td>
                <td>
                    <select id="artifactDice" name="artifactDice">
                        <option value="0" selected>None</option>
                        <option value="1">D6</option>
                        <option value="2">D8</option>
                        <option value="3">D10</option>
                        <option value="4">D12</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</form>
</form>